[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/keremi
[access "refs/for/refs/*"]
	read = group user/keremi
	push = group user/keremi
	label-Code-Review = -2..+2 group user/keremi
	label-Verified = -1..+1 group user/keremi
	rebase = group user/keremi
	removeReviewer = group user/keremi
	submit = group user/keremi
[access "refs/heads/*"]
	read = group user/keremi
	create = group user/keremi
	push = +force group user/keremi
	pushMerge = group user/keremi
[access "refs/tags/*"]
	push = +force group user/keremi
	pushTag = group user/keremi
	pushSignedTag = group user/keremi
